<div class ="container px-4">
  <div class="row">
    <div class="col">
     <span>ゲーム一覧</span><!--アイテムすべてをカウントする方法を質問する。-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>絞り込み</h4><span>(全<%= @gamecount%>件)</span>
      <p>金額</p>
    </div>
    <div class="col-md-8 scroll">
    <% @games.each do |game| %>
    <table>
      <tr>
        <td>
          <%= link_to show_game_path(game.id) do %>
            <div><%= image_tag item.get_image(100,100) %></div>
            <div><%= game.name %></div>
          <% end %>
        </td>
        <div>￥<%= game.price %></div>
      </tr>
    </table>
    </div>
    <% end %>
    <%= paginate @games %>
  </div>
</div>