<div class="bg-white">
  <%= flash[:notice] %>
</div>
<div class="contaier px-5 bg-white">
  <!--games#show-->
  <div class="row">
    <div class="col">
      <div class="game-title">
        <%= @game.name %>
      </div>
    </div>
  </div>
  <div class="row bg-white">
    <div class="col-md-2 bg-white">
      <%= image_tag @game.get_profile_image(200,200) %>
    </div>
    <div class="col-md-1 down genre">
      <%= @game.genre.genre_name %>
    </div>
    <div class="col-md-2 bg-white">
      <div class="padding"><%= l @game.created_at%></div>
      <div class="padding">金額￥<%= @game.price %></div>
      <div class="padding">
        <%= form_with model: @bookmark, url: create_bookmark_path(@game.id) do |f| %>
          <%= f.submit "ブックマーク", class:'btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text dotted">
      <%= @game.introduction %>
    </div>
    <div class="col-md-8"></div>
  </div>
  <div class="row line">
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col-md-2 border">
      <h3>レビュー投稿欄</h3>
    </div>
    <duv class="col-md-10"></duv>
  </div>
  <div class="row">
    <div class="col-md-2">
      <h5><%= @current_user.name %>のレビューを書く</h5>
    </div>
    <div class="col-md-10"></div>
    <div class="col-md-3">
      <%= image_tag current_user.get_profile_avatar(100,100) %>
    </div>
    <%= form_with model: @review, url: create_review_path(@game.id) do |f| %>
    <div class="col-md-12">
      <%= f.text_area :review_writing, autofocus: true %>
    </div>
    <div class="col-md-12">
      <%= f.submit "レビューを投稿する", class:'btn btn-primary' %>
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-1">
      <h5>レビュー一覧</h5>
    </div>
    <div class="col-md-11"></div>
  </div>
  <!--game/reviews#index-->
  <% @reviews.each do |review| %>
    <div class="row sand">
      <div class="col-md-12">
        <%= review.user.name %>のレビュー
      </div>
      <div class="col-md-3">
        <%= image_tag review.user.get_profile_avatar(50,50) %>
      </div>
      <div class="col-md-6">
        <%= review.review_writing %>
      </div>
      <div class="col-md-3">
        <div>コメント数 <%= review.comments.count %>件</div>
        <%= link_to "レビュー詳細へ", show_review_path(review.id), :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>