<div class ="container px-4 bg-white">
  <div class="row">
    <div class="col">
     <div class="game-title">ゲーム一覧</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 narrow-down">
      <h4>絞り込み</h4><span>(全<%= @gamecount%>件)</span>
      <p>金額</p>
      <div><%= link_to "無料", admin_games_path(price: 0), :class => "custom-button" %></div>
      <div><%= link_to "1~500円", admin_games_path(price:1..500), :class => "custom-button" %></div>
      <div><%= link_to "501~2,000円", admin_games_path(price:501..2000), :class => "custom-button" %></div>
      <div><%= link_to "2,001~5,000円", admin_games_path(price:2001..5000), :class => "custom-button" %></div>
      <div><%= link_to "5001円~", admin_games_path(price: 5001..), :class => "custom-button" %></div>
      <div><%= link_to "新規登録", admin_games_new_path, :class => "custom-button-green" %></div>
    </div>
    <div class="col-md-9 scroll">
    <% @games.each do |game| %>
      <div class="row sand">
        <div class="col-md-3">
          <div><%= image_tag game.get_profile_image(100,100) %></div>
        </div>
        <div class="col-md-5">
          <div>
            <%= link_to admin_show_game_path(game.id) do %>
              <%= game.name %>
            <% end %>
          </div>
          <div class="col-md-8 genre">
            <%= game.genre.genre_name %>
          </div>
          <div class="col-md-4"></div>
        </div>
        <div class="col-md-4">
          <div><%= l game.created_at %>(公開日)</div>
          <div>￥<%= game.price %></div>
        </div>
      </div>
    <% end %>
    <%= paginate @games %>
    </div>
  </div>
</div>