<div class="contaier">
 <div class="row">
  <div class="col">
   <!--customerindexの記述-->
    <h2>
      <%= @game.name %>
    </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <%= @game.image %>
    </div>
    <div class="col-md-2">
      <%= @game.genre %>
    </div>
    <div class="col-md-4">
      <%= @game.created_at%>
      金額￥<%= @game.price %>
      <%= link_to admin_edit_game_path(game.id),class:"nav-link text-light" do %>
        マイページ
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= game.introduction %>
    </div>
  </div>
  <div class="row">
    <div class="col review_column">
      
    </div>
  </div>
    
    <div class="col-md-3">
      <div>
        <h4>
          プロフィール画像
        </h4>
        <div>
          <%= @user.avatar %>
        </div>
      </div>
    </div>
  </div>
</div>