<div class="contaier px-5">
  <!--reviews#show-->
  <div class="row">
    <div class="col-md-8">
      <h3>
        <%= @review.game.name %> レビュー詳細
      </h3>
    </div>
    <div class="col-md-4">
      <p>
        <%= @comments.count %>件のコメント
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag @review.user.get_profile_avatar(100,100) %>
    </div>
    <div class="col-md-7">
      <h4>
        <%= @review.user.name %>のレビュー
      </h4>
      <div>
        <%= @review.review_writing %>
      </div>
    </div>
    <div class="col-md-2">
      <p>
        <%= l @review.created_at %>
      </p>
      <%= link_to "レビューの削除", destroy_review_path(@review.id), method: :delete, :class => "btn btn-danger" %>
    </div>
  </div>
  <div class="row">
    <!--comment#index-->
    <div class="col-md-7 review_column">
    <% @comments.each do |comment| %>
          <div class="row">
            <div class="col-md-3">
              <%= image_tag comment.user.get_profile_avatar(50,50) %>
            </div>
            <div class="col-md-6">
              <div>
                <p><%= comment.user.name %> のコメント</p>
              </div>
                <p><%= comment.comment_writing %></p>
            </div>
            <div class="col-md-3">
              <div><%= l comment.created_at %></div>
              <%= link_to "コメントの削除", destroy_comment_path(comment.id), method: :delete, :class => "btn btn-success" %>
            </div>
          </div>
    <% end %>
    </div>
    <div class="col-md-5">
      <%= form_with model: @comment, url: create_comment_path(@review.id) do |f| %>
      <div>
        <%= f.text_field :comment_writing, autofocus: true %>
      </div>
      <div>
        <%= f.submit "コメントする", class:'btn btn-primary' %>
      </div>
      <% end %>
      <div>
        <%= link_to "ゲーム詳細ページに戻る", show_game_path(@review.game.id), :class => "btn btn-success" %>
      </div>
    </div>
  </div>
</div>