<div class="contaier">
 <div class="row">
  <div class="col-md-4 offset-md-1">
    <h2>
      マイページ
    </h2>
      <table class="table table-hover table-inverse">
        <tr>
          <th>名前(ニックネーム)</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>
            <%= link_to edit_user_path,class:"nav-link text-black" do %>
              編集する
            <% end %>
          </td>
          <td>
            <%= link_to index_bookmark_path(@user.id),class:"nav-link text-black" do %>
              ブックマーク一覧へ
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <div>
        <h4>
          プロフィール画像
        </h4>
        <div>
          <%= @user.avatar %>
        </div>
      </div>
    </div>
  </div>
</div>