<div class="contaier">
 <div class="row">
  <div class="col-md-4 offset-md-1">
    <h2>
      マイページ
    </h2>
      <table class="table table-hover table-inverse">
        <tr>
          <th>名前(ニックネーム)</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>
            <%= link_to "編集する", edit_user_path , :class => "btn btn-success ms-3" %>
          </td>
          <td>
            <%= link_to "ブックマーク一覧へ", index_bookmark_path(@user.id), :class => "btn btn-primary ms-3" %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
      <div>
        <h4>
          プロフィール画像
        </h4>
        <div>
          <%= @user.avatar %>
        </div>
      </div>
    </div>
  </div>
</div>