<!DOCTYPE html>
<html>
  <head>
    <title>GameSearchSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>cake</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <% if admin_signed_in? %>
            <% if request.fullpath.include? "/admin" %>
                <!--admin側のheaderを返す-->
            <li>
              <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/admin/sign_out">
                ログアウト
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/admin/users">
                会員一覧
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/admin/games">
                ゲーム一覧
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/admin/genres">
                ジャンル一覧
              </a>
            </li>
            <% else %>
                <!--user側のheaderを返す-->
            <li>
              <a class="nav-link text-light" href="/users/sign_up">
                新規登録
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/games">
                ゲーム一覧
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/users/sign_in">
                ログイン
              </a>
            </li>
            <% end %>
          <% elsif user_signed_in? %>
              <!--userログイン状態の際に、表示したいheaderのメニューを記載-->
            <li>
              <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out">
                ログアウト                                    <!-- link to passの形に書き換えて解決。パスの後にclass指定することで、CSSを適応させることができる。-->
              </a>
            </li>
            <li>
              <%= link_to index_bookmark_path(current_user),class:"nav-link text-light" do %>
                ブックマーク一覧
              <% end %>
            </li>
            <li>
              <a class="nav-link text-light" href="/games">
                ゲーム一覧                                    <!-- link to passの形に書き換えて解決。パスの後にclass指定することで、CSSを適応させることができる。-->
              </a>
            </li>
            <li>
              <%= link_to mypage_users_path(current_user),class:"nav-link text-light" do %>
                マイページ
              <% end %>
            </li>
          <% else %>
            <li>
              <a class="nav-link text-light" href="/users/sign_up">
                新規登録
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/games">
                ゲーム一覧
              </a>
            </li>
            <li>
              <a class="nav-link text-light" href="/users/sign_in">
                ログイン
              </a>
            </li><!-- adminでもcustomerでもログインしていない時に表示するheaderのメニューを記載 -->
          <% end %>
        </div>
      </div>
     </nav>
    </header>
    <%= yield %>
    <footer>
     <div class="container mt-5">
      <div class="row">
       <div class="mx-auto">
        <p></p>
       </div>
      </div>
     </div>
    </footer>
  </body>
</html>